@charset "UTF-8";

@font-face {
    font-family: 'logo1';
    src: url(../fonts/PermanentMarker-Regular.ttf);
}
@font-face {
    font-family: 'padrao';
    src: url(../fonts/NotoSansDisplay-Italic-VariableFont_wdth\,wght.ttf);
}
#body{
    overflow: scroll;
}
/*Manipulação dos H's*/
#bk{
    font-family: 'logo1';
    font-size: 30px;
    display:inline-block;
    text-shadow:0 0 0.91rem white;
margin: auto;
}
#tipos{
    justify-content: center;
    text-align: center;
  margin: auto;
 
}

.principal{
   
    width:480px ;
    height:270px;
    border: solid 1px rgb(0, 0, 0,.3 );
    overflow:hidden;
  
}

.slide{
 display: flex;
 width: 400%;
 transition:  all .8s;
  
}

input[name="grupo"]:checked + label img{
    opacity: .7;
}
#foto2:checked ~ .principal .slide{
    margin-left: -100%;

}

#foto3:checked ~ .principal .slide{
    margin-left: -200%;

}

#foto4:checked ~ .principal .slide{
    margin-left: -300%;

}

.container{
    width: 480px;
    height: 270px;
    margin: 150px auto;
  background-color: #363636;
margin-top: 30px;

}

label img{
    width: 120px;
    cursor:pointer;
    float: left;
    opacity: 0.05;
    transition: all .4s;
}


/*Manipulação da logo*/
#logo{
width: 15vw;
height: 13vh;
margin-top: 40px;

}
#logo:hover{
transform: rotate(-30deg);
transition: 3s ease;
}




*{
    margin: 0;
    padding: 0;
    
}
.links{
    width:100%;
    height: 50px;
    position:fixed;
    display: flex;
}

.links label{
    padding: 10px 0;
    flex-grow: 1;
    cursor: pointer;
    transition: all .4s;
    text-align: center;
    font-family: 'arial';
    font-size: 100%;
    color: #ffffff;
}
.links label:hover{
    background-color: rgba(255, 255, 255, .2);
}
.scroll input{
    display: none;
}
#rd_pedais:checked ~ .sections{
    margin-top: -100vh;
}

#rd_quadroscaloi:checked ~ .sections{
    margin-top: -200vh;
}

#rd_aros:checked ~ .sections{
    margin-top: -300vh;
}

#rd_freios:checked ~ .sections{
    margin-top: -400vh;
}
.bloco{
width: 100vw;
height: 100vh;
justify-content: center;
align-items: center; 
}
.scroll{
display: flex;
width: 100vw;
height:100vh;
overflow: hidden;
}

.sections{
transition: all .4s     ;
}
#bicicletas{
background-color: #2e8b2e;
}
#pedais{
background-color: #1c1c1c;
}

#quadroscaloi{
background-color: #7CFC00;
}
#aros{
background-color: #363636;
}
#freios{
background-color: #00FF7F;
}
